{% extends "header.html" %}
{% load static %}
{% block content %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <span class="breadcrumb-item active">Change-Password</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    {% if msg %}
    <div class="alert alert-danger" role="alert">
       {{msg}}
    </div>
    {% endif %}

    {% if msg1 %}
    <div class="alert alert-danger" role="alert">
       {{msg1}}
    </div>
    {% endif %}


    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Change-Password</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form method="POST" action="{% url 'cpass' %}">
                        {% csrf_token %}
                    
                    
                        <div class="control-group">
                            <input type="password"  class="form-control" name="opassword" id="email" placeholder="Your Old password"
                                required="required" data-validation-required-message="Please enter your password" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="password"  class="form-control" name="npassword" id="email" placeholder="Your New password"
                                required="required" data-validation-required-message="Please enter your password" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input type="password"  class="form-control" name="cnpassword" id="email" placeholder="Your Confirm New password"
                                required="required" data-validation-required-message="Please enter your password" />
                            <p class="help-block text-danger"></p>
                        </div>
                        


                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Change-Password</button>
                        </div>
                    </form>
                </div>
            </div>
            
                <div class="bg-light p-30 mb-3">
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock %}